@model HomeViewModel

<partial name="_Carousel" />
<h2>
    Products Of the Month
</h2>
<h4>Our monthly selection - Just for you !</h4>

<div class="row">
    @foreach (var product in Model.ProductsOfTheWeek)
    {
        <partial name="_ProductCard" model="product" />

    }
</div>
